@import url("./global.css");

.side-bar{
    min-width: 10rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1rem;
}

.side-bar-links{
    text-decoration: none;
    color: inherit;
}

.options{
    display: flex;
    padding: 0.5rem;
    justify-content: flex-start;
}

.filter-container{
    font-size: 0.8rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.filter-item > p {
    text-decoration: underline;
}

@media screen and (max-width: 620px) {
    .side-bar{
        display: none;
    }
}